<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="hypersocket-eclipse-resource-creator"
            name="Hypersocket">
      </category>
      <wizard
            category="hypersocket-eclipse-resource-creator"
            class="com.hypersocket.eclipse.resources.NewResourceWizard"
            icon="icons/hypersocket-icon16x16.png"
            id="com.hypersocket.eclipse.resources.NewResourceWizard"
            name="New Resource">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="hypersocket-eclipse-resource-creator"
            name="Hypersocket">
      </category>
      <wizard
            category="hypersocket-eclipse-resource-creator"
            class="com.hypersocket.eclipse.resources.NewTaskWizard"
            icon="icons/hypersocket-icon16x16.png"
            id="com.hypersocket.eclipse.resources.NewTaskWizard"
            name="New Task">
      </wizard>
   </extension>

</plugin>
